/* CSS Document */
*{
	text-align:center;
	text-decoration:none;
	list-style-type:none;
	margin:0;
	padding:0;
}
#content{
	width:1348px;
	height:658px;
	background:#3F0;
}
#mainboard{
	background:#FFF;
	width:802px;
	height:658px;
	float:left;
}
#menu{
	float:right;
	width:502px;
	height:614px;
	background:#FFFFFF;
	margin:0 auto;
	padding:20px;
	border: 2px ridge #0000FF;
	
}
#mtitle{
	float:left;
	width:482px;
	height:030px;
	background:#FFF;
	padding:5px;
	-webkit-box-shadow: 6px -5px 27px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px -5px 27px 0px rgba(0,0,0,0.75);
	box-shadow: 6px -5px 27px 0px rgba(0,0,0,0.75);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
#tname{
	float:left;
	border:2px ridge #0000ff;	
	width:432px;
	height:20px;
	padding:3px;
}
#rid{
	width:74px;
	height:16px;
	padding:2px;
	float:left;
	background:#CF6;
}
#rname{
	width:350px;
	height:16px;
	padding:2px;
	float:left;

}
#tclose{
	float:left;
	margin-left:5px;
	width:20px;
	height:20px;
	padding:3px;
	border:2px ridge #C30;	
}


#p1{
	float:left;
	width:326px;
	height:196px;
	padding:5px;
	border:2px ridge #0000FF;
	margin: 10px 20px;
}
#p1img{
	width:143px;
	height:181px;
	padding:2px;
	float:left;
	background:url(../images/UserFrame.png) no-repeat;
	background-size:cover;

}
#p1img img{
	margin:40px 10px 20px 10px;
	width:100px;
	height:100px;
}
#p2img{
	width:143px;
	height:181px;
	padding:2px;
	float:right;
	background:url(../images/UserFrame.png) no-repeat;
	background-size:cover;

}
#p2img img{
	margin:40px 10px 20px 20px;
	width:100px;
	height:100px;
}
#p1info{
	float:left;
	width:80px;
	height:177px;
	padding:2px;
	border:2px solid #bd8c2a;
	background:#0F9;
}
#p2info{
	float:right;
	width:80px;
	height:177px;
	padding:2px;
	border:2px solid #bd8c2a;
	background:#0F9;
}
#VS{
	float:left;
	width:496px;
	height:46px;
	border:2px ridge #0000FF;
	margin:0 auto;
	
}
#p2{
	float:left;
	width:326px;
	height:196px;
	padding:5px;
	margin:10px 20px 10px 140px;
	border:2px ridge #0000ff;
}
#btn{
	float:left;
	width:476px;
	height:56px;
	border:2px ridge #0000FF;
	margin:0 auto;
	padding:0 10px;
}
#pinfo1,#pinfo2{
	width:235px;
	height:185px;
	border:1px solid #930;
	padding:4px;
}
#pinfo1{
	float:left;
}
#pinfo2{
	float:right;
}

#more1{
	width:61px;
	height:185px;
	border:1px solid #930;
	padding:4px;
	float:left;
	margin: 0 5px;
}
#more2{
	width:61px;
	height:185px;
	border:1px solid #930;
	padding:4px;
	float:right;
	margin: 0 5px;
}
#turn1,#turn2,#time1,#time2{
	width:61px;
	height:52px;
	float:left;
	padding-top:40px;
}
#btn1,#btn2,#btn3{
	width:146px;
	height:26px;
	padding:15px 5px;
	float:left;
}
#xinthua:hover,#dilai:hover,#xinhoa:hover{
	src:url(../images/xinthua-push.png);
}
#p2rank,#p2rick,#p2medal{
	margin:30px auto;
}
#p1rank,#p1rick,#p1medal{
	margin:30px auto;
}