@charset "utf-8";
/* CSS Document */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,em,font,img,small,strike,strong,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form
	{
	margin: 0px;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-family:'Comic Sans MS', cursive;
	text-decoration:none;
	list-style-type:none;
}
a:hover{
	text-decoration:none;
}
body{
 	list-style-type:none;
	font-family:"Comic Sans MS", cursive;
	 background-image:url(../images/Background.jpg);
	 background-repeat:no-repeat;
	 background-attachment:fixed;
	 background-size:100%;

	}


 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1280px;
	 height: 807px; 
	 overflow: hidden;
	 z-index:0;
	} 
	#header{
		width:1280px;
		height:90px;
		margin:0px auto;
		box-shadow:inset 5px #666666;
		
	}
	#logo{
		border-right:solid 1px #003399;
		width:400px;
		height:98px;
		background:#0F0;
		position:absolute;
		top:0px;
		z-index:3;
	}
 
#menu{
	 margin: 0px auto;
	 width: 880px;
	 height: 90px;
	 z-index:13;
	 font-family: "Comic Sans MS", cursive;
	 font-size:18px;
	 float:left;
	
}
#howtouse,#aboutus,#contactus{
	width:155px;
	height:50px;
	float:left;
	list-style-type:none;
	text-decoration:none;
	text-align:center;
	padding:10px ;
}
#howtouse:hover,#aboutus:hover,#contactus:hover{
	width:157px;
	height:50px;
	font-size:22px;	
	opacity: 1;
	background-color: rgba(255, 165, 0, 0.5);
}
#howtouse:hover a,#aboutus:hover a,#contactus:hover a{
	text-decoration:none;
}

h3{
	font-family: "Comic Sans MS", cursive;
	color:#FFF;
	
}
#wrapper{

	background-attachment:fixed;
	background-size:100%;
	margin: 0 auto;
	max-width: 1023px;
	height:auto;
	font-family:"Comic Sans MS", cursive;
	font-size:14px;
	text-align: left;
	position: relative;
	overflow: hidden;
	

}
#footer{
	width:1280px;
	height:100px;
	margin:0 auto;
	margin-top: 20px !important;
	padding: 20px 300px;
	font-family:"Comic Sans MS", cursive;
	font-size:14px;
	text-decoration:none;
	list-style-type:none;
}

#login
{ 	
	overflow:scroll;
	 width: 375px;
	 height: 350px;
	 padding-right:20px;
	 float:left;
	 background:#FFCC66;
	 margin: 20px;
	 padding-left:20px;
	 overflow:hidden;
	 border-radius:0px 0 0 58px;
	-moz-border-radius:18px 18px 18px 18px;
	-webkit-border-radius:18px 18px 18px 18px;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
	box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 6px -5px 27px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px -5px 27px 0px rgba(0,0,0,0.75);
	box-shadow: 6px -5px 27px 0px rgba(0,0,0,0.75);
} 

#signin{ 	
	 width: 400px;
	 height: 400px;
	 overflow:hidden;
	 margin:0 auto;
}
#forgetpass{
	margin:0 auto;
	padding:50px;
	width:400px;
	height:400px;
}
#intro
{ 
	 left: 642px; 
	 top: 215px; 
	 position: absolute; 
	 width: 539px;
	 height: 279px;
	 z-index:22;
	 background:#6FC;
}
#username, #pass{
	float:left;
	width:200px;
	height:33px;	
	margin:0px 10px 5px 20px;
	
}
#username1,#pass1,#repass,#email,#fuser,#femail{
	margin:5px 10px;
	width:230px;
	height:25px;
}

#content {
	position: absolute;
	top:20px;
	left:100px;
	margin-left:auto;
	margin-right:auto;
	width: 700px;
	height:700px;
	z-index: 100;
	margin-top:50px;
	padding: 30px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;	
	-webkit-box-shadow: 0px 1px 6px #3F3F3F;
	-moz-box-shadow: 0px 1px 6px #3F3F3F;
	box-shadow: 0px 1px 6px #3F3F3F;
	background-size: 50px 50px;
	background-color: #f90;
	background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -mslinear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -olinear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	-pie-background: linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent) 0 0 / 50px 50px #f90;
}
#content:after {
	background: #F9F9F9;
	margin: 10px;
	position: absolute;
	content : " ";
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
input:not([type="button"]), textarea {
	display: block;
	width: 480px;
	padding: 4px 8px;
	border: 1px solid #DBDBDB;
	color: #3F3F3F;
	margin:5px;
	font-size: 14px;
	/*Bo góc*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: box-shadow 0.6s linear;
	-moz-transition: box-shadow 0.6s linear;
	-o-transition: box-shadow 0.6s linear;
	transition: box-shadow 0.6s linear;
}
input:not([type="button"]):active, textarea:active, input:not([type="button"]):focus, textarea:focus {
	background: #fff;
	-webkit-box-shadow: 2px 2px 7px #E8E8E8 inset;
	-moz-box-shadow: 2px 2px 7px #E8E8E8 inset;
	box-shadow: 2px 2px 7px #E8E8E8 inset;
}

::-webkit-input-placeholder {
 color:#BABABA;
 font-style:normal;
}
 input:-moz-placeholder,  textarea:-moz-placeholder {
 color:#BABABA;
 font-style:normal;
}
input[type=button] {
	margin-left:180px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	color: #767676;
	font-size: 18px;
	padding: 10px 4px;
	border: 1px solid #E0E0E0;
	text-shadow: 0px 1px 1px #E8E8E8;
	background-color: #f7f7f7;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #EAEAEA;
	-moz-box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #EAEAEA;
	box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #EAEAEA;
}
#howtoplay{
	position:absolute;
	top:50px;
	left:50px;
	width:1180px;
	height:440px;
	padding:40px;
	border: solid 2px #CCC;
	background:white;
	
}
#contentinfo{
	position:absolute;
	top:20px;
	left:20px;
	width:860px;
	height:499px;
	
}
#menu1{
	position:absolute;
	top:10px;
	left:30px;
	width:200px;
	height:181px;
	border: 1px solid #E0E0E0;
		background:#FFF;
}
#menu1 li{
	width:157px;
	height:40px;
	margin:20px 20px 0px 20px;
	border-bottom: 1px solid #E0E0E0;
	}
#menu1 li:hover{
	width:157px;
	height:40px;
	margin:20px 20px 0px 20px;
	border-bottom: 1px solid #E0E0E0;
	color:#009;
	font-size:16px;
	font-weight:bold;
	}
#main-info{
	width:570px;
	min-height:460px;
	position:absolute;
	top:10px;
	left:260px;
	border: 1px solid #E0E0E0;
	background:#FFF;
	}
#info-table{
	padding:20px;
	margin:40px;
}
ul#nav li.active a, ul#nav li.active a:hover, ul#nav li:hover a {
color: #555555;
}
ul#nav {
width: 100%;
list-style: none;
float: none;
text-align: center;
margin: 0;
padding: 0;
background: #201E1E;
}
ul#nav li a {
width:146px;
float:left;
color: #E6E7E8;
display: block;
font: bold 12px/20px 'Segoe UI',Arial;
padding: 10px 16px;
text-decoration: none;
text-transform: uppercase;
background: #201E1E;
}
ul#nav li a:hover{
	color:#666666;
	text-decoration:none;
}
ul#nav a,ul#nav a:active {
background:#CCC	;
color: #373435;
}
ul#nav {
width: 100%;
height:40px;
list-style: none;
float: left;
text-align: center;
margin-left: 200px;
padding: 0;
background: #201E1E;
}
#wp-row1{
	margin:20px auto;
	width:1000px;
	height:250px;
}
#wp-row1 img{
	width:400px;
	height:250px;
	float:left;
	padding:10px;
}
#wp-row2{
	width:900px;
	height:600px;
	margin:10px 40px;
	text-align: left;
	position: relative;
	overflow: hidden;
	background: none repeat scroll 0 0 #e2cdb0;
	border-radius: 10px 10px 10px 10px;
	padding: 20px;
}
#row{
background: transparent;
font-style: normal;
width:860px;
height:161px;
float:left;
}
#img1{
	width:161px;
	height:161px;
	padding:5px;
	float:left;
}
#title{
	float:left;
	width:698px;
	height:161px;
	border: double 3px #CCC;
	font-family:"Comic Sans MS", cursive;
	padding: 10px 10px 30px 50px;
}
#title a{
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	list-style-type:none;
	}
#login a{
	text-decoration:none;
	list-style-type:none;
}
#marquee{
	float:left;
	color:white;
	width:880px;
	height:30px;
	margin-left:200px;
	margin-top:10px;
}
#login:hover{
	-webkit-box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 2px #555555;
	-moz-box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 2px #555555;
	box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 2px #555555;
}
#submit-login
{
	transition:0.5s ease all;
}

.left{
	width:260px;
	height:auto;
	float:left;
}

#login-form,#open-id{
	background: url('../images/260.380.png') no-repeat;
	width: 258px;
	height: auto;
	float: left;
	margin-left: 2px;
	padding:10px;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #000000;
	color:white;
}
#open-id{
	background: url('../images/260.505.png') no-repeat;

	width: 260px;
	float: left;
	margin: 8px 0px 0px 2px;
	padding-bottom: 10px;
}
.right{
	background-color: rgb(48, 48, 48);
	height:auto;
	width: 750px;
	float: left;
	margin-left: 11px;
	padding:20px 30px 20px 30px;
	color:#EEEEEE;
	}

#share{
	position:fixed;
	width:5px;
	height:200px;
	right:50px;
	bottom:150px;
	float:left;
}

/* CSS footer */
.footerpage {
    background: #000000;
    border-top: 1px solid #1c1c1c;
	margin-top:20px;
}

.grid-container {
    height: 145px;
	width:980px;
	margin:0 auto;
	
}

.footerpage .grid-container {
    padding-bottom: 0;
    position: relative;
    padding: 35px 0 0 0;
    height: 185px;
}

.footerpage .scrollTop {
    position: absolute;
    top: -28px;
    right: -100px;
    width: 61px;
    height: 28px;
    background: #2f2d2d;
    text-align: center;
    line-height: 28px;
    color: #989898;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

.footerpage .navbot {
    width: 36%;
}

.footerpage .contact-social {
    width: 25%;
}

.footerpage .copyright {
    width: 39%;
}

.navbot-grids {
    overflow: hidden;
}

    .navbot-grids li {
        width: 33%;
		float:left;
    }

        .navbot-grids li span.navbot_links {
            border-bottom: 1px solid #191818;
            padding: 5px 0;
            margin-right: 50px;
            display: block;
            text-align: center;
        }

            .navbot-grids li span.navbot_links a {
                color: #727272;
				text-decoration:none
            }

                .navbot-grids li span.navbot_links a:hover {
                    color: #CF6100;
					text-decoration:none
                }

            .navbot-grids li span.navbot_links:last-child {
                border-bottom: 0;
            }

.supportcenter {
    text-align: center;
    color: #CF6100;
    margin: 0;
    font-weight: normal;
}

    .supportcenter strong {
        font-size: 15px;
    }

.contact-social-icon {
    text-align: center;
    padding-bottom: 15px;
}

    .contact-social-icon a {
        display: inline-block;
        height: 42px;
        width: 42px;
        outline: none;
        background-image: url("../images/sprite.png");
        background-repeat: no-repeat;
    }

    .contact-social-icon .facebook {
        background-position: 0 0;
    }

        .contact-social-icon .facebook:hover {
            background-position: -125px 0;
        }

    .contact-social-icon .phone {
        background-position: -58px 0;
    }

        .contact-social-icon .phone:hover {
            background-position: -181px 0;
        }

.copyright address {
    color: #656565;
    text-align: right;
    display: block;
    margin: 5px 0 0 0;
    padding: 0;
    font-style: normal;
}

.copyright .footerLogo {
    text-align: right;
    margin-right: -5px;
}

    .copyright .footerLogo a {
        display: inline-block;
        margin: 0 5px;
        background-image: url("../images/sprite.png");
        background-repeat: no-repeat;
        text-indent: -9999px;
        height: 29px;
    }

a.footer-logo-net2e {
    background-position: -326px -2013px;
    width: 74px;
}

a.footer-logo-wl {
    background-position: -208px -2013px;
    width: 116px;
}

.copyright .footerlinks {
    text-align: right;
    margin: 12px 0 0 0;
}

    .copyright .footerlinks a {
        color: #CF6100;
    }

        .copyright .footerlinks a:hover {
            color: #99CC33;
			text-decoration:none;
        }
.floatleft{
	float:left;
}
.right-to-left {
    background: url("../images/border-short.gif") no-repeat right center;
    padding-right: 1px;
   
}
/* CSS phan banner -top */
#banner-top{
	width:980px;
	height:auto;
	float:left;
	margin:0 auto;
	margin-bottom:20px;
}
#notice{
	float:left;
	color:white;
	height:30px;
	width:980px;
	font-size:18px;
}