/* CSS Document */
*{
	margin:0px;
	padding:0px;
	text-decoration:none;
	list-style-type:none;
}
body{
	text-decoration:none;
	list-style-type:none;
	font-family: "Comic Sans MS", cursive;
		 background-image:url(../images/Background.jpg);
	 background-repeat:no-repeat;
	 background-attachment:fixed;
	 background-size:100%;
	}
 @font-face {
                        font-family: Rex;
                        src: url("fonts/Rex Bold Inline.otf");
                        src: url("fonts/Rex Bold.otf");
                        src: url("fonts/Rex Light.otf");
                    }

            @font-face {
                        font-family: Hagin;
                        src: url("fonts/Hagin Caps Medium.otf");
                        src: url("fonts/Hagin Caps Thin.otf");
                    }

#content2{
position: relative;
width: 800px;
height: 900px;
margin: 20px auto;
z-index: 1;
}
#logo-bxh{
    width: 370px;
    height: auto;
  	float:left;
    font-family: "Comic Sans MS", cursive;
    font-weight: bolder;
    font-size: 40px;
    padding: 15px;
}
#richandrank{
    margin:10px auto;
	float:left;
    width: 800px;
    height: 120px;
    padding: 0 80px 0 80px;
}
button{
    width: 200px;
    height: 70px;
}
#rank{
    float: right;
}
#rich{
    float: left;
}
#list{
	width:800px;
	height:700px;
	float:left;
}
#ranklist,#richlist{
    width: 380px;
    height: 600px;
	margin:0 10px;
    border: solid 4px #CCC;
    background: white;
	float:left;
	padding: 10px;
}
.stt{
	width:50px;
	height:50px;
	border-bottom:solid 1px #000000;
	margin:5px 10px;
	float:left;
	padding:10px;
	text-align:center;
}
.name{
	width:200px;
	height:50px;
	border-bottom:solid 1px #000000;
	margin:5px auto;
	float:left;
	padding:10px;
	text-align:center;
}
.point{
	width:60px;
	height:50px;
	border-bottom:solid 1px #000000;
	margin:5px 10px;
	float:left;
	padding:10px;
	text-align:center;
}
.row1{
	width:350px;
	height:60px;
	float:left;
	font-size:16px;
}