/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2014, 3:43:48 PM
    Author     : hust
*/

body{
    font-size: 14px;
    margin: 0px;
    background-image: url("../imgs/background.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;

}

a{
    text-decoration: none;
    color: black;
}

.timer {
    background: -webkit-linear-gradient(left, skyBlue 50%, #eee 50%); /* Foreground color, Background colour */
    border-radius: 100%;
    height: 10px; /* Height and width */
    position: relative;
    width: 10px; /* Height and width */
    -webkit-animation: time 180s steps(1, start) infinite;
}
.mask {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    -webkit-animation: mask 180s steps(1, start) infinite;
    -webkit-transform-origin: 100% 50%;
}
@-webkit-keyframes time {
    100% { 
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes mask {
    0% {
        background: #eee; /* Background colour */
        -webkit-transform: rotate(0deg);
    }
    50% {
        background: #eee; /* Background colour */
        -webkit-transform: rotate(-180deg);
    }
    50.01% {
        background: skyBlue; /* Foreground colour */
        -webkit-transform: rotate(0deg);
    }
    100% {
        background: skyBlue; /* Foreground colour */
        -webkit-transform: rotate(-180deg);
    }
}
a:hover{
    color: green;
}
textarea
{
	border-radius: 5px;
	resize: none;
    width: 98%;
	background-color:grey;
	color:white;
}

body, p, h1, h2, h3, h4, table, td, th, ul, ol, textarea, input {
    font-family: verdana,helvetica,arial,sans-serif;
}

.button{
    border-radius: 8px;
    color : white;
    border-width: 1px;
    border-color: white;
    padding: 5px;
    margin: 5px;
    background-color: darkgreen;
}



input{
    border-radius: 8px;
}
/*----*/
#bodyDiv{
    width: 100%;
   
}
/*----------*/
#listRoomDiv{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 20px;
    min-height: 500px;
    color: black;
}

#headerDiv{
    height: 70px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
#searchInput{
}

#roomTableDiv{
    width: 100%;
    height: 450px;
    overflow: scroll;
}

#roomControlDiv{
    height: 70px;
    width: 70%;
    margin: auto;
}
/*--------*/
#roomDiv{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-height: 600px;
    margin-bottom: 30px;
    color: black;
    padding: 20px;
}

#leftBoardDiv{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    min-height: 80%;
    float: left;
    padding: 5px;
    background-color: white;
    box-shadow: 0px 0px 20px 3px #D3D3D3;
    border-radius: 4px;
}

#user1Div, #user2Div, #timerDiv{
    float: top;
    height: 30%;
    width: 100%;
}

#chessBoardDiv{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    float: left;
}

#rightBoardDiv{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    float: left;
    padding: 5px;
    background-color: white;
    box-shadow: 0px 0px 20px 3px #D3D3D3;
    border-radius: 4px;
}

#roomInfoDiv{
    margin-left: auto;
    margin-right: auto;
    float: top;
    width: 100%;
    height: 25%;
}

#messagesDiv{
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 100%;
    height: 100%;
    padding: 5px;

}
.avatar{
	width: 50%;
    height: 50%;
	border-radius: 10px;
	margin-left: auto;
    margin-right: auto;
}
#typeDiv{
    margin-left: auto;
    margin-right: auto;
    float: bottom;
    width: 100%;
    height: 40%;
}

#messageInput,#inputGlobal{
    float: left;
    width: 70%;
    margin: 7px;
}

#sendButton{
    float: left;
}

.dialog input{
    display: block;
    width: 100%;
}


.roomTableDiv {
	margin:0px;padding:0px;
	width:100%;

	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.roomTableDiv table{
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.roomTableDiv tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.roomTableDiv table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

.roomTableDiv table tr td:first-child {
	background-color:#FF3333 ;
	color:white;
	width : 20px;
	border: 1px solid;
    border-style: solid;
    border-color: #400000  #484848 ;
}


.roomTableDiv table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;

}.roomTableDiv tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;

}.roomTableDiv tr:hover td{
	color:red;
}
.roomTableDiv tr:nth-child(odd) 
{font-size:12px; color: #ffffff; text-align:center;background-color:grey; }
.roomTableDiv tr:nth-child(even)    {font-size:12px;color : yellow; text-align:center; background-color:#383838   ; }
.roomTableDiv td{
	vertical-align:middle;
	border:5px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:1px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	
}.roomTableDiv tr:last-child td{
	border-width:0px 1px 0px 0px;
	text-align:center;
}.roomTableDiv tr td:last-child{
text-align:center;
	border-width:0px 0px 1px 0px;
}.roomTableDiv tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
	text-align:center;
}
.roomTableDiv tr:first-child td{
		background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);
	width: 40px;
	height: 20px;
	background-color:#FF3300;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Verdana;

	color:#ffffff;
}

.roomTableDiv tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;

}
.roomTableDiv tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;

}

