/* 
    Created on : Oct 17, 2014, 2:44:21 PM
    Author     : Nguyen Tat Nguyen
*/

#mainDiv{
    margin-left: auto;
    margin-right: auto;
}

#gameDiv{
    position: relative;
    top: 0;
    left: 0;
}

#controlDiv{

}

body{
    background-image: url("../imgs/background.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

.pieceCanvas{
    float: left;
    z-index: 0;
}

#boardCanvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#infoCanvas{
    position: absolute;
    left: 0;
    background-color: #ffffffff;
    display: none;
    z-index: 10;
}

#animateCanvas{
    position: absolute;
    left: 0;
    background-color: #ffffffff;
    display: none;
    z-index: 11;
}

button{
    border-radius: 10px;
    color : white;
    border-width: 1px;
    border-color: white;
    //font-size: 15px;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
}

.button_easy{
    background-color: green;
    width: 30%;
}

.button_newgame{
    background-color: red;
    width: 30%;
}
